<!doctype html>
<html lang="ja" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Angular.js</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<script src="js/myscript.js"></script>
</head>
<body>
	<h1>AngularJSの練習</h1>
	<div ng-controller="mainCtrl">
		<!-- novalidate : HTML5でのバリデーションを無効化する -->
		<form novalidate name="myForm" ng-submit="addUser()">

			<p>Name : <input type="text" name="name" ng-model="user.name" required ng-minlength="5" ng-maxlength="8"></p>
			<span ng-show="myForm.name.$error.required">Required!</span>
			<span ng-show="myForm.name.$error.minlength">Too Short!</span>
			<span ng-show="myForm.name.$error.maxlength">Too Long!</span>

			<p>Score : <input type="number" name="score" ng-model="user.score"></p>

			<p>Email : <input type="email" name="email" ng-model="user.email"></p>
			<span ng-show="myForm.email.$error.email">Not valid Email</span>

			<p>WEB : <input type="url" name="url" ng-model="user.url"></p>
			<span ng-show="myForm.url.$error.url">Not valid url</span>
			<!--
				バリデートがtrueの時は、true以外の値を、ng-true-valueで与える事ができる。falseも同様
			-->
			<p>18+ : <input type="checkbox" ng-model="user.adult" ng-true-value="adult" ng-false-value="child"></p>
			
			<!--modelを同一名にしておくことで、グループ化される-->
			<p>Phone : 
				<input type="radio" ng-model="user.phone" value="iPhone">iPhone
				<input type="radio" ng-model="user.phone" value="Android">Android
			</p>

			<p>Memo :
				<textarea ng-model="user.memo" ng-maxlength="140" name="" id="" cols="30" rows="10">
					
				</textarea>
				<!--文字数を拾って残り文字数を表示-->
				{{140 - user.memo.length}}
			</p>

			<p>Color : 
				<select ng-model="user.color" ng-options="'label:'+color for color in ['red','blue','pink']" ng-init="user.color='red'"></select>
			</p>

			<p><input type="submit" value="add"></p>
		</form>

		<!--debugようにjsonフィルターを使う-->
		<pre>{{user|json}}</pre>
	</div>
</body>
</html>